name: Add channel

on:
  workflow_dispatch:
    inputs:
      login:
        description: 'Channel login'
        required: true
        default: ''

jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install --only=prod
      - name: Run scripts
        run: npm run fetcher -- -a -l ${{ github.event.inputs.login }}
        env:
          MONGO_STRING: ${{ secrets.MONGO_STRING }}
          TWITCH_CLIENT_ID: ${{ secrets.TWITCH_CLIENT_ID }}
          TPS_ENDPOINT: ${{ secrets.TPS_ENDPOINT }}
          TPS_AUTH_CACHE: ${{ secrets.TPS_AUTH_CACHE }}
          INPUT_LOGIN: ${{ github.event.inputs.login }}
